extends layout

append js
  script(src='/components/ace-min-noconflict/ace.js')
  script(src='/js/main.js')

block content
  div.row
    div(class="database-selector col-md-2", "data-bind"="with: databaseMenu")
      h2 Databases
      ul(class="database-list list-unstyled", "data-bind"="foreach: databases")
        li.database
          strong(class="name",  "data-bind"="text: name")
          span("data-bind"="ifnot: showCollections")
            button(class="btn btn-default btn-xs","data-bind"="click: toggleShowCollections", href="#") +
          span("data-bind"="if: showCollections")
            button(class="btn btn-default btn-xs", "data-bind"="click: toggleShowCollections", href="#") -
            ul(class="collections list-unstyled", "data-bind"="foreach: collections")
              li
                a(href="#", "data-bind"="text: name, click: $root.showCollection.bind($root, $parent)")
    
    
    div(class="col-md-10", "data-bind"="if: activeCollection")
      div(class="aggregation-div row", "data-bind"="with: activeCollection")
        .col-md-6
          h2("data-bind"="text: name")
          pre("data-bind"="text: prettySchema")
        .col-md-6


    //- div.aggregation-div.hide
    //-   .col-md-4
    //-     h2.schema-name
    //-     pre.schema
    //-   .col-md-4
    //-     h2 Enter your query
    //-     textarea(id="query-pane", name="query")
    //-     br
    //-     button(class="submit", id="query-submit") Go!
    //-     hr
    //-     .query-results-container.hide
    //-       h4 Query Results
    //-       pre.query-results