extends layout

append js
  script(src='/components/ace-min-noconflict/ace.js')
  script(src='/js/main.js')

block content
  //- h1 Enter a query
  div.row
    div(class="database-selector col-md-4", "data-bind"="with: databaseMenu")
      h2 Databases
      ul(class="database-list list-unstyled", "data-bind"="foreach: databases")
        li.database
          strong(class="name",  "data-bind"="text: name")
          button(class="get-collections", "data-bind"="attr: {id: name}") Get collections
          //- ul(class="collections " + database.name, data-database-name=database.name)
    
    div.aggregation-div.hide
      .col-md-4
        h2.schema-name
        pre.schema
      .col-md-4
        h2 Enter your query
        textarea(id="query-pane", name="query")
        br
        button(class="submit", id="query-submit") Go!
        hr
        .query-results-container.hide
          h4 Query Results
          pre.query-results







