extends layout

append js
  script(src='/components/ace-min-noconflict/ace.js')
  script(src='/js/mvp_1.js')

block content
  //- h1 Enter a query
  div.row
    div.database-selector.col-md-4
      h2 Databases
      for database in databases
        div 
          strong=database.name
          span=database.size
          button(class="get-collections", id=database.name) Get collections
          ul(class="collections " + database.name, data-database-name=database.name)
    div.aggregation-div.hide
      .col-md-4
        h2.schema-name
        pre.schema
      .col-md-4
        h2 Enter your query
        textarea(id="query-pane", name="query")
        br
        button(class="submit", id="query-submit") Go!
        hr
        .query-results-container.hide
          h4 Query Results
          pre.query-results






